{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": "off",
        "no-console": "off",
        "indent": ["error", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prefer-stateless-function": [<enabled>, { "ignorePureComponents": <ignorePureComponents> }]
    }
}
